:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-template-rows: 10% 1fr 7%;
  grid-template-columns: 20% 1fr;
  height: 100vh;
  min-height: 500px;
  margin: 0;
}

header {
  grid-area: header;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

aside {
  grid-area: aside;
  border: 1px solid red;
  padding: 1rem;
}

main {
  grid-area: main;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: rgb(245, 245, 245);
}

#court {
  min-height: 350px;
  height: 90%;
  max-height: calc(100vh - 20%);
  aspect-ratio: 350 / 580;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
}

#canvas {
  height: 100%;
  width: 100%;
  background: url("/assets/court.jpg") no-repeat center;
  background-size: contain;
  position: relative;
}

#ball {
  width: 1.5rem;
  height: 1.5rem;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.players-container {
  border: 1px solid #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  z-index: 10;
}

.attack {
  background-color: #000;
}

.defense {
  background-color: #0d0df4;
}

.color-select-container {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 1rem;
}
