:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solide white;
  padding: 2rem;
  min-width: 320px;
  min-height: 100vh;
}

.players-container {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 8vw;
}

.player {
  border: 1px solid rgb(232, 232, 20);
  padding: 5px 12px;
  border-radius: 100%;
  z-index: 100;
  background-color: red;
}

#court-container {
  border: 1px solid white;
  padding: 1rem;
  height: 90vh;
  display: flex;
  align-items: center;
}

#court {
  height: 100%;
  max-height: 550px;
  width: 320px;
  background: url("/assets/court.jpg") no-repeat center;
  position: relative;
}
